<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid60" />
  <package id="Serilog" version="2.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Collections" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Globalization" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Linq" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Reflection" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Runtime" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="System.Threading" version="4.3.0" targetFramework="MonoAndroid60" />
  <package id="UnofficialSerilog.Sinks.MonoAndroid" version="0.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.v4" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="MonoAndroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="MonoAndroid70" />
</packages>