<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="MonoAndroid60" />
  <package id="Serilog" version="1.5.14" targetFramework="MonoAndroid60" />
  <package id="UnofficialSerilog.Sinks.MonoAndroid" version="0.1.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Insights" version="1.11.3" targetFramework="MonoAndroid60" />
</packages>